$bg_color: #F6FAFA;

$accent_color: #E74C3C;
$base_color: #00387D;

$header_font: 'museo-sans', sans-serif;
$body_font: 'ff-tisa-web-pro', serif;

// For when I'm too cheap to pay for typekit
//$header_font: 'Lato', sans-serif;
//$body_font: 'Gentium Book Basic', serif;

$break_mobile: 567px;
$break_tablet: 767px;

/*** main ***/

body {
    font-family: $body_font;
    font-size: 18px;
    color: $base_color;
    background-color: $bg_color;
}

.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: $body_font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header_font;
    font-weight: 400;
}

h2 {
    font-size: 1.25em;
}

a { color: $accent_color; text-decoration: none; }

a:hover { text-decoration: underline; }

p { margin-top: 0.5em; }

.spacer-col {
    @media screen and (max-width: $break_tablet) {
        display: none;
    }
}

.spinner {
    width: 20px;
    height: 20px;
    background-image: url('../images/spinner.gif');
}

// magnific popup caption
.mfp-title { text-align: center; }

#main-content-inner {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    padding: 3em 0 1.5em 0;
    font-size: 1.111em;

    @media screen and (max-width: $break_mobile) {
        padding: 1em 0 0.5em 0;
    }

    .column-2 {
        padding-left: 2em;

        @media screen and (max-width: $break_mobile) {
            padding-left: 0;
        }
    }
}

#selected-work {

    #work-grid {

        a:hover, a:active, a:focus { outline: 0; }

        .work-link-inside {

            // size of the images
            max-width: 400px;

            padding: 0 1em 2em 0;

            @media screen and (max-width: $break_mobile) {
                padding: 0 0 1.5em 0;
            }
            
            text-align: center;

            .work-title { font-family: $body_font; }
        }

    }

}

#footer {
    margin-top: 2em;
    font-size: 0.889em;
}


// when the overlay opens, for some reason, this is the spacing that is added
#main-content {
    margin: 16px 32px 16px 32px;
}

#shade {
    z-index: 10;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

// Take up the whole screen, shade the background
#work-overlay-container {
    z-index: 20;
    position: absolute;
    width: 100%;
    display: none;
}

#work-overlay {
    width: 85%;
    max-width: 1200px;
    margin: 2em auto 2em auto;
    background-color: $bg_color;

    @media screen and (max-width: $break_tablet) {
        width: 90%;
    }

    @media screen and (max-width: $break_mobile) {
        margin: 1em auto 1em auto;
        width: 95%;
    }
}

#work-overlay-content {

    padding: 2em;

    @media screen and (max-width: $break_mobile) {
        padding: 0.5em;
    }

    .work-nav {
        background-color: $bg_color;
        padding: 4px;
        margin-left: -5px;
        overflow: hidden;

        &.fixed {
            position: fixed;
            z-index: 999;
            top: 0;
            -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.1);
            box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
        }

        a {
            font-size: 0.88em;
            margin-right: 18px;
            float: left;

            &:last-of-type { margin-right: 0; }

            &.disabled { color: #f1d3ce; }
        }

        .spinner {
            float: left;
            margin: 3px 0 0 18px;
            display: none;
        }

    }

    .work-nav-anchor { display: none; }
}

.work-content-container {

    h2.work-title { margin-bottom: 0.25em; text-align: center; }

    h3 {
        margin: 1.25em 0 0 0;

        &.work-job {
            font-size: 0.88em; 
            text-align: center;
            margin: 0; 

            @media screen and (max-width: $break_mobile) {
                margin-bottom: 0.5em;
            }
        }
    }

    .header-img {
        width: 120px;
        margin: 32px auto 32px auto;
    }

    .work-meta {
        max-width: 320px;
        border-top: 1px solid $base_color;
        padding: 0.5em;
        border-bottom: 1px solid $base_color;
        margin: 0 0 1em 3em;
        float: right;
        width: 33%;
        font-size: 0.778em;

        @media screen and (max-width: $break_mobile) {
            float: none;
            width: auto;
            margin: 0 auto 2em auto;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

    }

    .intro {
        font-size: 1.5em;
        font-style: italic;
        text-align: center;
        margin-bottom: 32px;
    }

    // external embeds, use fitvids
    .videoembed {
        max-width: 600px;

    }

    // scribd embed on desktop
    .scribdembed iframe {
        width: 90%;
        max-width: 720px;
        height: 600px;
        
        @media screen and (max-width: $break_tablet) {
            display: none;
        }
    }

    // defaults to external link on tablet / mobile
    .scribdlink {
        display: none;
        @media screen and (max-width: $break_tablet) {
            display: block;
        }
    }

    .gallery-item {
        padding-right: 1em;

        @media screen and (max-width: $break_tablet) {
            padding: 0 0 1em 0;
        }
    }

}
