$bg_color: #FBF9EA;
//$bg_color: #F5F2EB;

$accent_color: #E74C3C;

$base_color: #00387d;

$header_font: 'museo-sans', sans-serif;
$body_font: 'ff-tisa-web-pro', serif;

/*** mixins ***/

/*
.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
*/

/*** main ***/

body {
    font-family: $body_font;
    font-size: 1.125em;
    color: $base_color;
    background-color: $bg_color;
    //background-image: url('/images/background.jpg');
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header_font;
    font-weight: 500;
}

h2 {
    display:inline-block;
    border-bottom: 2px solid $base_color;
    width: auto;
}

a {
    color: $accent_color;
    outline: 0;
}

#header {
    .column-1 {
        margin-right: 1em;
    }

    // TODO: not on mobile
    .column-2 {
        h3 {
            margin-top: 0;
        }
    }
}

#selected-work {

    #work-grid {

        a:hover, a:active, a:focus {
            outline: 0;
        }

        .work-container {
            // size of the images
            max-width: 400px;

            // TODO: not on mobile
            padding: 0 1em 1em 0;
            text-align: center;
        }

    }
}

#shade {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#main-content-container {
    width: 100%;
}

#main-content {
    margin: 16px 32px 16px 32px;
}

#work-overlay-container {
    position: absolute;
    width: 80%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#work-overlay {
    background-color: white;
    z-index: 20;
    background-color: $bg_color;
    margin-top: 2em;
    margin-bottom: 2em;
}
