{% extends 'root.swig.html' %}
        
{% block body %}

<div id="shade"></div>

<div id="main-content-container"><div id="main-content"><div id="main-content-inner">

    <div id="header" class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2">
        <p>I'm <strong>Amar Boghani</strong>. I create digital products &amp; services as a researcher, developer, and user experience designer. 
        </div>
        <div class="pure-u-1 pure-u-sm-1-2">
            <div class="column-2">
            <p>
                <strong>Get in touch:</strong><br/>amar<span style="display:none;">nospam</span>@<span style="display:none;">nospam</span>amarkbo.com<br/>
        <a href="https://twitter.com/amarkbo" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/in/amarkbo" target="_blank">LinkedIn</a>, <a href="https://github.com/amarkbo" target="_blank">GitHub</a>
            </p>
            </div>
        </div>
    </div>

    <h2>Selected Work</h2>
    <div id="selected-work" class="pure-g">
        <div id="work-grid" class="pure-g">
            {% for work in works %}
                <div class="pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3">
                    <a class="work-link" href="{{work.path}}">
                        <div class="work-link-inside">
                            <img class="pure-img" src="{{base_url}}{{work.path}}/cover.jpg"></img>
                            <div class="work-title">{{work.title}}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <!-- /end grid of works -->

    </div>

    <div id="footer">
        &copy; 2015 Amar Boghani.
        Code is <a target="blank" href="https://github.com/amarkbo/amarkbo.com">here</a>, if you're interested.
    </div>

</div></div></div>
<!-- /main-content-inner /main-content /main-content-container -->

<div id="work-overlay-container">
    <div id="work-overlay">
        <div id="work-overlay-content"></div>
    </div>
</div>

{% endblock %}
