{% extends 'root.swig.html' %}

{% block body %}
<script>
    // Get outta here, humans. Only robots disable javascript.
    window.location.href = '{{base_url}}#/{{path}}';
</script>

<!-- this class is left out when pulling into the main view -->
<div class="work-container">

<div class="work-nav-anchor"></div>
<div class="work-nav">
    <a class="close" href="#"><span class="icon-cancel"></span></a>
    {% if previous.path %}
        <a href="#/{{previous.path}}"><span class="icon-left-open"></span></a>
    {% endif %}
    {% if next.path %}
        <a href="#/{{next.path}}"><span class="icon-right-open"></span></a>
    {% endif %}
</div>

<h2>{{title}}</h2>
<div class="work-content">
    <div class="work-meta">
        <!-- cover image -->
        <img class="pure-img" src="">
        <ul>
            <li><strong>My role: </strong>{{role}}</li>
            <li><strong>Team size: </strong>{{team}}</li>
            <li><strong>Year: </strong>{{date|date('Y')}}</li>
        </ul>
    </div>
    {{contents|safe}}
</div>

</div>

{% endblock %}
