{% extends 'root.swig.html' %}

{% block body %}
<script>
    // Get outta here, humans. Only robots disable javascript.
    window.location.href = '{{base_url}}#/{{path}}';
</script>

<!-- contents of this div is loaded into work-overlay-content -->
<div class="work-ajax-container">

<div class="work-nav-anchor"></div>
<div class="work-nav">
    <a class="close" href="#"><span class="icon-cancel"></span></a>
{% if previous.path %}
    <a href="#/{{previous.path}}"><span class="icon-left-open"></span></a>
{% else %}
    <a class="disabled"><span class="icon-left-open"></span></a>
{% endif %}

{% if next.path %}
    <a href="#/{{next.path}}"><span class="icon-right-open"></span></a>
{% else %}
    <a class="disabled"><span class="icon-right-open"></span></a>
{% endif %}
    <div class="spinner"></div>
</div>

<div class="work-content-container">
    <h2 class="work-title">{{title}}</h2>
    <h3 class="work-job">at {{job|safe}}</h3>
    <div class="work-content">
        <div class="work-meta">
            <!-- cover image -->
            <img class="pure-img" src="{{base_url}}{{path}}/cover.jpg">
            <ul>
            {% if role %}
                <li><strong>My role: </strong>{{role}}</li>
            {% endif %}
                <li><strong>Year: </strong>{{date|date('Y')}}</li>
            {% if team %}
                <li><strong>Core team: </strong>{{team}}</li>
            {% endif %}
            </ul>
        </div>
        {{contents|safe}}
    </div>
</div>

</div>

{% endblock %}
